# ===========================
# Django Configuration
# ===========================
SECRET_KEY=django-insecure-w)vs3p=_owdy^-mnfi=uk34hp_0p8x^&#4e_a#hgxhujk4ja+z
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# ===========================
# Database Configuration
# ===========================
DB_ENGINE=django.db.backends.postgresql
DB_NAME=erp_db
DB_USER=admin
DB_PASSWORD=adminpass
DB_HOST=127.0.0.1
DB_PORT=5432
